.content
	.ui.grid
		.twelve.wide.column
			p.ui.header.text-instanceName= data.name
			p.description
			| #{data.clientType || "Vanilla"} #[strong #{data.id} #{data.type}]
			| Last played: #[i #{data.lastPlayedStr}]
		.four.wide.column
			.ui.right.floated.buttons
				- if(data.installed)
					button.ui.green.button.btn-play.btn-play-install
						| Play
				- else
					button.ui.olive.button.btn-install.btn-play-install
						| Install
				.ui.gray.floating.dropdown.button ▼
					.menu
						.item.btn-rename #[i.fas.fa-pencil-alt.fa-fw] Rename
						- if(data.installed)
							.item.btn-reinstall(class=data.installed) #[i.fas.fa-redo.fa-fw] Reinstall
						- else
							.disabled.item #[i.fas.fa-redo.fa-fw] Reinstall
						.item.btn-options #[i.far.fa-edit.fa-fw] Options
						.item.btn-saves #[i.far.fa-file-alt.fa-fw] Saves / Data
						.red.inverted.item.btn-delete(style="color: red;") #[.far.fa-trash-alt.fa-fw] Delete
