.content
	.ui.grid
		.twelve.wide.column
			p.ui.header.text-instanceName= data.name
			p.description
			| #{data.clientType || "Vanilla"} #[strong #{data.id} #{data.type}]
			| Last played: #[i #{data.lastPlayedStr}]
		.four.wide.column
			.ui.right.floated.buttons
				- if(data.installed)
					button.ui.green.button.btn-play.btn-play-install
						| Play
				- else
					button.ui.olive.button.btn-install.btn-play-install
						| Install
				.ui.gray.floating.dropdown.button ▼
					.menu
						.item.btn-rename Rename
						- if(data.installed)
							.item.btn-reinstall(class=data.installed) Reinstall
						- else
							.disabled.item Reinstall
						.item.btn-options Options
						.item.btn-saves Saves / Data
						.red.inverted.item.btn-delete(style="color: red;") Delete
