//- section.item(data-instance-id=data.id
//- 	data-instance-clienttype=data.clientType || "Vanilla"
//- 	data-instance-type=data.type
//- 	data-instance-name=data.name)
.content
	.ui.grid
		.twelve.wide.column
			p.ui.header.text-instanceName= data.name
			p.description
			| #{data.clientType || "Vanilla"} #[strong #{data.id} #{data.type}]
			| Last played: #[i #{data.lastPlayedStr}]
		.four.wide.column
			.ui.right.floated.buttons
				- if(data.installed)
					button.ui.green.button.btn-play.btn-play-install(data-instance-name=data.name)
						| Play
				- else
					button.ui.olive.button.btn-install.btn-play-install(data-instance-name=data.name)
						| Install
				.ui.gray.floating.dropdown.button ▼
					.menu
						.item.btn-rename(data-instance-name=data.name) Rename
						- if(data.installed)
							.item.btn-reinstall(data-instance-name=data.name class=data.installed) Reinstall
						- else
							.disabled.item Reinstall
						.item.btn-options(data-instance-name=data.name) Options
						.item.btn-saves(data-instance-name=data.name) Saves / Data
						.red.inverted.item.btn-delete(style="color: red;" data-instance-name=data.name) Delete
